; The directories where cached files are stored. Needs to have write permissions!
cache.dir = "cache"
; Time in seconds where files are cached for future requests.
cache.lifetime = 300
; Time in seconds before the connection to the server times out.			
downloader.timeout = 10